<div class="container">
    <div class="col-md-5 order-details">
        <div class="section-title text-center">
            <h3 class="title">Your Order</h3>
        </div>
        <div class="order-summary">
            <div class="order-col">
                <div><strong>PRODUCT</strong></div>
                <div><strong>TOTAL</strong></div>
            </div>
            <div class="order-products"  th:each="listCheckout:${session.listCheckOut}">
                <div class="order-col">
                    <div>[(${listCheckout.quantity})]x [(${listCheckout.productId.name})]</div>
                    <div>$[(${listCheckout.productId.price* listCheckout.quantity})]</div>
                </div>
            </div>
            <div class="order-col">
                <div>Shiping</div>
                <div><strong>FREE</strong></div>
            </div>
            <div class="order-col">
                <div><strong>TOTAL</strong></div>
                <div><strong class="order-total">$[(${session.totalPriceCheckout})]</strong></div>
            </div>
        </div>
        <a th:href="@{/custommer/cart/order}" class="primary-btn order-submit">Place
            order</a>
    </div>
</div>